<!--************************************************************************-->
<!--Author: Yi Qu-->
<!--UNI: yq2281-->
<!--Description: Here is HTLM template which formats the list of courses I took
    for the Spring 2020 semester, to which I linked in my main page.-->
<!--************************************************************************-->


<!DOCTYPE html>
<html>
    <head>
        <!--Specifies title of the page.-->
        <title>Yi Qu: Courses, Spring 2020</title>
    </head>
        
        
    </body>
        <!--Formats the course list.-->
        <p><b>Courses, Spring 2020</b></p>
        
        
        <!--Indents a paragraph, formats a paragraph of text.-->
        <p style="margin-left:50px; margin-right:50px;">1.&nbsp;&nbsp;
        ENGI 1006: Introduction to Computing for Engineers and Applied
        Scientists
        <br>2.&nbsp;&nbsp;&nbsp;ENGI 1102: The Art of Engineering
        <br>3.&nbsp;&nbsp;&nbsp;HUMA 1121: Masterpieces of Western Art
        <br>4.&nbsp;&nbsp;&nbsp;PHYS 1402: Intoduction to Electromagnetism and
        Optics
        <br>5.&nbsp;&nbsp;&nbsp;VIAR 1000: Basic Drawing
        <br>6.&nbsp;&nbsp;&nbsp;WRIT 1300: Beginning Poetry Workshop</p>
	
	

        <!--Formats a paragraph of text.-->	
    	</p>Beginning Poetry Workshop has by far been my favorite class this
    	semester. I love the teacher, I love my classmates, and I love writing
    	poetry. I'm so grateful that I was able to take this class; it was a
    	welcome break from my STEM-heavy course load last semester. I think
    	everyone deserves the chance to see the world through poetry's lens.
    	There's something really beautiful about finding the poetics in
    	everything. I truly believe that through this class, I've learned to
    	become a happier, better person.</p>
    	
    	
    	<!--Formats a paragraph of text, links to internal pages.-->
    	</p>To read a sample from my poetry portfolio, please click
    	<a href="http://127.0.0.1:5000/poetry">here</a>.
    	<br>To return to the main page, please click
    	<a href="http://127.0.0.1:5000">here</a>.</p>
    </body>
</html>