<!--************************************************************************-->
<!--Author: Yi Qu-->
<!--UNI: yq2281-->
<!--Description: Here is the HTML template which I used to format the text
    and image of my main page. This links to the two other pages as well.-->
<!--************************************************************************-->


<!DOCTYPE html>
<html>
    <head>
        <!-- Specifies title of the page! -->
        <title>Yi Qu: Main Page</title>    
    </head>
    
    
    </body>
        <!--Formats a paragraph of text.-->
        <p>Hey there! My name is <b>Yi Qu</b>!</p>
    
        
        <!--Formats an image of me and an accompanying caption.-->
        <p><img src="/static/me.jpg" width = "600" height = "800"><br>Here's one of my favorite pictures ever taken of me!</p>
    
        
        <!--Formats a paragraph of text.-->
        <p>(Side note: Isn't it crazy how modern photography has completely
        eradicated the novelty of owning a likeness of yourself? Before, you
        had to have a drawing or painting of yourself to truly be in possession
        of a tangible or immutable representation of your face! I often think
        about the subjectivities of human vision and the dangers that this
        proliferation of distorted representations of personhood (i.e.,
        photographs) can inflict on our self-images. When we view other forms
        of art, we understand it as being two steps removed from reality,
        abstracted by first the symbols (e.g., the shapes, textures, planes,
        etc.) which an artist utilizes to convey a subject matter, and then
        subsequently our visual-to-mental-to-visual translation of these
        symbols into our own perception of said subject matter. But there's
        this notion for some reason that technology is inherently objective and
        that somehow photographs represent a dry visual truth which cannot be
        conveyed through other ways of seeing. Crazy how the photograph
        dominates our visual consciousness! I think human visual perception,
        and especially our perception of other humans, is so much more complex
        and intricate than that! So that's why this is one of my favorite
        photographs of myself... Not only because I look GREAT, but because it
        truly captures the happiness and confidence I felt in the moment,
        surrounded by wonderful friends and feeling loved!)</p>
        
        
        <!--Formats a paragraph of text.-->
        <p>I'm currently a first year studying in Columbia Engineering (SEAS
        2023) and a prospective Biomedical Engineering major!
        Aside from my interest in engineering, I also enjoy writing poetry,
        painting, illustrating, cuddling with my cat, thinking about the
        intricacies of human feelings while sitting in a dry bathtub wearing
        a floor-length skirt and the same expression my mother got married in,
        walking outside in the middle of the night just to be completely and
        utterly surrounded by the beauty of a cloudless Southern night sky,
        and dreaming about falling in love with the moon.</p>
        
        
        <!--Formats a paragraph of text.-->
        <p>Here are three of my favorite websites, which I have enjoyed
        repeatedly refreshing for updates multiple times a day, every day since
        October 19th, 2014:</p>
        
        
        <!--Indents a paragraph, links to an external page.-->
        <p style="margin-left:50px; margin-right:50px;">1.&nbsp;&nbsp;
        <a href="https://en.wikipedia.org/wiki/Shrek_2">The Wikipedia page for
        <i>Shrek 2</i>.</a></p>
        

        <!--Indents a paragraph, links to an external page.-->        
        <p style="margin-left:50px; margin-right:50px;">2.&nbsp;&nbsp;
        <a href="https://www.chinasichuanfood.com/chinese-water-spinach-stir-fry/">
        Elaine Luo's recipe for stir-fried Chinese water spinach which she
        posted to her blog / website, China Sichuan Food.</a></p>
        

        <!--Indents a paragraph, links to an external page.-->        
        <p style="margin-left:50px; margin-right:50px;">3.&nbsp;&nbsp;
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">This one is a
        suprise! :D</a></p>     
        

        <!--Formats a paragraph of text.-->
        <p>Click on the links below to learn more information about me!</p>


        <!--Indents a paragraph, links to an internal page.-->
        <p style="margin-left:50px; margin-right:50px;">1.&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/courses">Courses</a>: the courses I
        was enrolled in during my Spring 2020 semester at Columbia.</p>


        <!--Indents a paragraph, links to an interal page.-->
        <p style="margin-left:50px; margin-right:50px;">2.&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/poetry">Poetry</a>: a poem entitled
        <i>"The Lady of the Lake."</i> which I presented as part of my final
        portfolio for Beginning Poetry Workshop.</p>
    </body>     
</html>

