<!--************************************************************************-->
<!--Author: Yi Qu-->
<!--UNI: yq2281-->
<!--Description: Here is the HTML template which formats the poem I wrote and
    linked to in my main page.-->
<!--************************************************************************-->


<!DOCTYPE html>
<html>
    <head>
        <!--Specifies the title of the page.-->
        <title>Yi Qu: Poetry</title>
    </head>
    
    
    </body>
        <!--Formats the text of poem.-->
        <p><i><b>"The Lady of the Lake."</b></i></p>
        <p>In dreams, I draw you out of the water and push my
        <br>breath into yours — oh, I’m a lotus-hearted fool, I’m
        <br>a yellow-blooded bastard. February opened her mouth
        <br>like a famished godling and swallowed me whole, and
        <br>again I went down to the Lake
        <br><span style="margin-left:170px;">(to the Lake,</span>
        <br><span style="margin-left:220px;">to the Lake)</span>
        <br>where there was no memory, and there was no time. Eat
        <br>mud, eat dirt — the way I prayed, you’d think I was a white
        <br>man’s wife. In the Lake, I saw three faces, but one was not
        <br>my own. In the Lake, I saw a dead man sleeping. First
        <br>there was the darkness, then there was memory, then there
        <br>was the darkness again. I pressed my knees to the mud and
        <br>wept like a famished king. “I will split you like the River
        <br>has split you,” said the Lady of the Lake. “I will cut you
        <br>like the River has cut you.” My grief was that of a mirror
        <br>world, but my sorrow was only my sorrow. I waded
        <br>through the silt bottom. I pushed my teeth through my
        <br>knuckles. I bit like a scoundrel. I turned my face toward a
        <br>stone-faced heaven, toward the steady drum and pour
        <br>of a plum-rain sky.</p>
        
    
        <!--Adds more space between paragraphs.-->
        <p>&nbsp;&nbsp;&nbsp;</p>
        
        
        <!--Formats the accompanying image and the image's caption.-->
        <p><img src="/static/lady.jpg" width = "400" height = "600">
        <br><i>The Lady of the Lake</i>, illustrated by Lancelot Speed for <i>The
        <br>Legends of King Arthur and His Knights</i> (Sir James Knowles, 1912)</p>


        <!--Adds more space between paragraphs.-->
        <p>&nbsp;&nbsp;&nbsp;</p>
        

        <!--Formats a paragraph of text, links to internal pages.-->
        </p>To view my Spring 2020 course list, please click
    	<a href="http://127.0.0.1:5000/courses">here</a>.
    	<br>To return to the main page, please click
    	<a href="http://127.0.0.1:5000">here</a>.</p>
    </body>
</html>

